<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="icon-button">
    <%= link_to "", destroy_user_session_path, data: {turbo_method: :delete}, class:"fa-solid fa-circle-user" %>
    <%= link_to "", chat_dashboard_path, class:"fa-regular fa-comment" %>

    <%= button_to(root_path, method: :get, class: "image-button") do %>
  <%= image_tag("https://res.cloudinary.com/dsj3cc5zj/image/upload/v1701686124/CWlogo_bnd2h7.png", alt: "Home Button") %>
<% end %>

    <%= link_to "", new_event_path, class:"fa-regular fa-calendar-plus" %>
    <%= link_to "", dashboard_path, class:"fa-regular fa-calendar-days" %>

  </div>
</div>
