<h1>All events</h1>
<p><%= link_to "Create new event", new_event_path %></p>
<div class="card p-2 m-3">
  <% @events.each do |event| %>
    <%= render "index_event_image", event: event %>
    <h2><%= link_to event.title, event_path(event) %></h2>
    <p><%= event.date.day%>.<%= event.date.month%>.<%= event.date.year%>  <%= event.time.hour %>:<%= event.time.min %></p>
    <p><%= event.venue_name %></p>
  <% end %>
</div>
