<div class="event-background" style="background;">


<div>
  <h1 class="header-all">All events</h1>
  <h3 class="sub-header-all">All events</h3>
  <p class="body-all">Here is some text to see our bold body font hehe</p>
</div>

<p><%= link_to "Create new event", new_event_path, class: "btn btn-ghost-neutral" %></p>
<div class="card p-2 m-3">
  <% @events.each do |event| %>
    <img src="<%= event.image_url%>" alt="event image">
    <%= cl_image_tag venue.photo.key, class: "pic" %>
    <h2><%= link_to event.title, event_path(event) %></h2>
    <p>Date: <%= event.date %></p>
    <p>Time: <%= event.time %></p>
    <p>Venue: <%= event.venue_name %></p>
    <p>Address: <%= event.venue_address %></p>
    <p>Capacity: <%= event.capacity %></p>
    <p>Price: <%= event.price %></p>
  <% end %>
</div>
