<div class="event-background">

  <div>
    <h1 class="header-all">Hey XXXX,<br>wanna do some<br>culture?</h1>
  </div>

    <% @events.each do |event| %>
    <div class="event-card" style='background-image: url("<%= event.photo.attached? ? cl_image_tag(event.photo.key) : event.image_url%>")'>
      <div class="event-title">
        <h3 class="h3"><%= event.title %></h3>
      </div>
      <div class="event-infos">
        <p class="body-all"><%= event.date.day%>.<%= event.date.month%>.<%= event.date.year%>  <%= event.time.hour %>:<%= event.time.min %></p>
        <p class="body-all-venue"><%= event.venue_name %></p>
      </div>
    </div>
    <% end %>

  <div class="search_form_with">
    <%= form_with url: root_path, method: :get do |form| %>
      <%= form.select :capacity, options_for_select(['<10', '10-30', '>30'],
                        params[:capacity]), prompt: 'Select capacity' %>
      <%= form.check_box :price, { checked: params[:price] == "FREE" } %>
      <%= form.label :price, "FREE" %>
      <%= text_field_tag :query, params[:query],
                        class: "form-control",
                        placeholder: "I'm looking for..." %>
      <%= text_field_tag :location, params[:location],
                        class: "form-control",
                        placeholder: "Kiez..." %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
