<div class="event-background">

<div data-controller="headline" data-headline-name-value="<%= current_user.username %>">
    <h1 class="header-all"></h1>
</div>
<div>
  <%= submit_tag "Search", class: "btn btn-ghost-orange" %>
</div>


  <h1>...</h1>
  <h1>...</h1>
  <h1>...</h1>
  <h1>...</h1>
  <h1>...</h1>
  <h1>...</h1>
  <h1>...</h1>




<button class="open-button" onclick="openForm()">Open Form</button>

<div class="form-popup" id="myForm">
  <form action="/action_page.php" class="search_form">
    <%= form_with url: root_path, method: :get do |form| %>
      <%= text_field_tag :query, params[:query],
                        class: "form-control",
                        placeholder: "I'm looking for..." %>
      <%= text_field_tag :location, params[:location],
                        input_html: {data: {address_autocomplete_target: "location"}},
                        class: "form-control" %>
                        # placeholder: "Location"
      <%= form.date_field :date, value: params[:date], class: "form-control", placeholder: "Select a date" %>
      <fieldset>
        <% Category.all.each do |category| %>
          <div class="tag-item">
            <%= check_box_tag "category_ids[]", category.id, params[:category_ids]&.include?(category.id), id: "category_#{category.id}", class: "tag-selector form-control" %>
            <%= label_tag "category_#{category.id}" do %>
              <%= content_tag(:i, '', class: category.icon) %> <%= category.name %>
            <% end %>
          </div>
        <% end %>
      </fieldset>
    <% end %>
  </div>















  <div class="search_form">
    <%= form_with url: root_path, method: :get do |form| %>
      <%= text_field_tag :query, params[:query],
                        class: "form-control",
                        placeholder: "I'm looking for..." %>
      <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        <%= form.text_field :location, id: "location", placeholder: "Location", class: "d-none",
                            data: {address_autocomplete_target: "location" }%>
      </div>
      <%= form.date_field :date, value: params[:date], placeholder: "Date", class: "form-control", placeholder: "Select a date" %>
      <div class="row">
        <div class="col-6">
          <%= form.label :capacity, "Capacity" %>
          <%= form.select :capacity, [["All events", "ALL"] ,["Keep it cozy", "<30"], ["I'm feeling social", "30-60"], ["The bigger the better!", "60+"]], selected: "ALL" %>
        </div>
        <div class="col-3"></div>
        <div class="col-3">
          <%= form.check_box :price %>
          <%= form.label :price, "FREE" %>
        </div>
      </div>
      <fieldset>
        <% Category.all.each do |category| %>
          <div class="tag-item">
            <%= check_box_tag "category_ids[]", category.id, params[:category_ids]&.include?(category.id), id: "category_#{category.id}", class: "tag-selector form-control" %>
            <%= label_tag "category_#{category.id}" do %>
              <%= content_tag(:i, '', class: category.icon) %> <%= category.name %>
            <% end %>
          </div>
        <% end %>
      </fieldset>
    <% end %>
  </div>


<button class="btn-ghost-neutral">LIST</button><button class="btn-ghost-neutral">MAP</button>

  <%# <div class="toggle-button-cover">
        <div class="button-cover">
          <div class="button r" id="button-2">
            <input type="checkbox" class="btn-ghost-neutral" />
            <div class="knobs"></div>
            <div class="layer"></div>
          </div>
        </div>
  </div> %>

    <% @events.each do |event| %>
    <div class="event-card" style='background-image: url("<%= event.photo.attached? ? cl_image_tag(event.photo.key) : event.image_url%>")'>
      <div class="event-title">
        <h3 class="h3"><%= link_to event.title, event_path(event) %></h3>
      </div>
      <div class="event-infos">
        <p class="body-all"><%= event.date.day%>.<%= event.date.month%>.<%= event.date.year%>  <%= event.time.hour %>:<%= event.time.min %></p>
        <p class="body-all-venue"><%= event.venue_name %></p>
      </div>
    </div>
    <% end %>
  <%= render "index_map" %>








</div>
