<h1>Create a new event</h1>
<%= simple_form_for(@event) do |f| %>
  <%= f.input :title %>
  <%= f.input :date %>
  <%= f.input :time %>
  <%= f.input :description %>
  <%= f.label :category_ids, "Categories - please choose between 1-3:" %>
  <div data-controller="categoryselect">
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name_with_icon do |category| %>
    <div class = "tag-item">
      <%= category.check_box class:"tag-selector", data: {action: "click->categoryselect#activate", categoryselect_target: "input" }%>
      <%= category.label do %>
        <%= content_tag(:i, '', class: category.object.icon) %> <%= category.object.name %>
      <% end %>
    </div>
    <% end %>
  </div>
  <%= f.input :venue_name %>
  <%= f.input :venue_address %> <!-- should be with autofill geocode -->
  <%= f.input :capacity %>
  <%= f.input :price %>
  <%= f.input :photo, as: :file %> <!-- should be image upload with Cloudinary -->
  <%= f.submit %>
<% end %>
<h1>...</h1>
<h1>...</h1>
<h1>...</h1>
<h1>...</h1>
<h1>...</h1>
<h1>...</h1>
<h1>...</h1>
