<%= render "show_page_image" %>
<h1><%= @event.title %></h1>
<p><%= @event.date.day%>.<%= @event.date.month%>.<%= @event.date.year%>  <%= @event.time.hour %>:<%= @event.time.min %></p>
<p><strong><%= @event.venue_name %></strong></p>
<p><%= @event.venue_address %></p>
<p>What to excepect: <%= @event.description %></p>
<p>Capacity: <%= @event.capacity %></p>
<p>Price: <%= @event.price%> €</p>
<p>Accessibilty: </p>
<p>So far, <strong><%= @event.attendees %></strong> people are attending this event</p>
<% if @event.categories.length == 1 %>
  <p><i class="<%=@event.categories.first.icon%>"></i> <%= @event.categories.first.name %></p>
<% else %>
  <% @event.categories.each do |category| %>
    <p><i class="<%=category.icon%>"></i> <%= category.name %></p>
  <% end %>
<% end %>

<%= link_to "I'm going!", event_bookings_path(@event.id), class:"btn btn-primary", data: {turbo_method: :post}  %>
<%= link_to "Let's talk!", event_chatroom_path(@event.id, @event.chatroom.id), class:"btn btn-primary" %>
<%= link_to "Edit event", edit_event_path(@event.id), class:"btn btn-primary" %>
<%= link_to "Delete event", event_path(@event.id), class:"btn btn-primary", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this event?"} %>
