<img src="<%= @event.image_url%>" alt="event image">
<h1><%= @event.title %></h1>
<p><strong>Date: <%= @event.date %></strong></p>
<p>Time: <%= @event.time %></p>
<p><strong>Venue: <%= @event.venue_name %></strong></p>
<p>Address: <%= @event.venue_address %></p>
<p>Description: <%= @event.description %></p>
<p>Capacity: <%= @event.capacity %></p>
<p>So far, <strong><%= @event.attendees %></strong> people are attending this event</p>
<p>Price: <%= @event.price %></p>

<button class="btn btn-primary">I'm going!</button>
