
<div class= "my-bookings">
  <% @events_as_org.each do |event| %>
  <hr>
    <div class="flex-container">
        <div class="flex-box-one">
          <p><%= event.venue_name %></p>
          <h3><%=link_to event.title, event_path(event)%></h3>
        <div class= "date-time">
          <p><strong><%=event.date%></p>
          <p></strong><%=event.time%></p>
        </div>
      </div>
      <hr>
    <div class="flex-box-one"><p><%= event.attendees %></p></div>
  </div>
  <% end %>

</div>

